<!doctype html>
<html lang="pt-br">

  <head>
    
    <title>@ViewData Rapidex | Cargas Expressas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="sortcut icon" href="images/favicon.ico" type="image/x-icon" />

    
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,700|Oswald:400,700" rel="stylesheet">

    <link rel="stylesheet" href="~/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/css/aos.css">

    
    <link rel="stylesheet" href="css/style.css">
     
   
  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

     
    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

 
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
        

      <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">


             <div class="site-logo">
              <a href="index.html" title="Rapidex: Fretes Rapidos, Fretes Locais e Fretes Aereos.">
                <img src="~/images/logo%20th%20(2).png" alt="Rapidex: Fretes Rapidos, Locais e Aereos.">
              </a>
               </div>
                  
         

              <div class="col-12">
              <nav class="site-navigation text-right ml-auto " role="navigation">
                  

                <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                  
                  <li><a href="#services-section" class="nav-link">Serviços</a></li>

                    <li class="has-children">
                    <a href="#about-section" class="nav-link">Sobre nós</a>
                    <ul class="dropdown arrow-top">
                      <li><a href="#team-section" class="nav-link">Equipe</a></li>
                      <li><a href="#pricing-section" class="nav-link">Preços</a></li>
                      
                    </ul>
                  </li>

                  <li><a href="#why-us-section" class="nav-link">Nosso Compromisso</a></li>

                  <li><a href="#contact-section" class="nav-link">Contato</a></li>
      
                  <nav class="cd-main-nav js-main-nav">
			<ul class="cd-main-nav__list js-signin-modal-trigger">
				<!-- inser more links here -->
				
				<li><a class="cd-main-nav__item cd-main-nav__item--signup" href="#0" data-signin="signup">Entrar/Cadastra-se</a></li>
			</ul>
		</nav>



	<div class="cd-signin-modal js-signin-modal"> <!-- this is the entire modal form, including the background -->
		<div class="cd-signin-modal__container"> <!-- this is the container wrapper -->
			<ul class="cd-signin-modal__switcher js-signin-modal-switcher js-signin-modal-trigger">
				<li><a href="#0" data-signin="login" data-type="login">Entrar</a></li>
				<li><a href="#0" data-signin="signup" data-type="signup">Cadastra-se</a></li>
			</ul>

			<div class="cd-signin-modal__block js-signin-modal-block" data-type="login"> <!-- log in form -->
				<form class="cd-signin-modal__form">
                    <img src="~/images/logo%20th%20(2).png ">
					<p class="cd-signin-modal__fieldset">
						<label class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace" for="signin-email">E-mail</label>
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signin-email" type="email" placeholder="E-mail">
						<span class="cd-signin-modal__error">Mensagem de erro aqui!</span>
					</p>

					<p class="cd-signin-modal__fieldset">
						<label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace" for="signin-password">Senha</label>
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signin-password" type="text"  placeholder="Senha">
						<a href="#0" class="cd-signin-modal__hide-password js-hide-password">Ocultar</a>
						<span class="cd-signin-modal__error">Mensagem de erro aqui!</span>
					</p>

					<p class="cd-signin-modal__fieldset">
						<input type="checkbox" id="remember-me" checked class="cd-signin-modal__input ">
						<label for="remember-me">Lembrar-me</label>
					</p>

					<p class="cd-signin-modal__fieldset">
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width" type="submit" value="Entrar">
					</p>
				</form>
				
				<p class="cd-signin-modal__bottom-message js-signin-modal-trigger"><a href="#0" data-signin="reset">Esqueceu sua senha?</a></p>
			</div> <!-- cd-signin-modal__block -->

			<div class="cd-signin-modal__block js-signin-modal-block" data-type="signup"> <!-- sign up form -->
				<form class="cd-signin-modal__form">
                    <img src="~/images/logo%20th%20(2).png">
					<p class="cd-signin-modal__fieldset">
						<label class="cd-signin-modal__label cd-signin-modal__label--username cd-signin-modal__label--image-replace" for="signup-username">Usuario</label>
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-username" type="text" placeholder="Usuario">
						<span class="cd-signin-modal__error">Mensagem de erro aqui!</span>
					</p>

					<p class="cd-signin-modal__fieldset">
						<label class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace" for="signup-email">E-mail</label>
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-email" type="email" placeholder="E-mail">
						<span class="cd-signin-modal__error">Mensagem de erro aqui!</span>
					</p>

					<p class="cd-signin-modal__fieldset">
						<label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace" for="signup-password">Senha</label>
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-password" type="text"  placeholder="Senha">
						<a href="#0" class="cd-signin-modal__hide-password js-hide-password">Ocultar</a>
						<span class="cd-signin-modal__error">Mensagem de erro aqui!</span>
					</p>

					<p class="cd-signin-modal__fieldset">
						<input type="checkbox" id="accept-terms" class="cd-signin-modal__input ">
						<label for="accept-terms">Eu aceito os <a href="#0">Termos</a></label>
					</p>

					<p class="cd-signin-modal__fieldset">
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding" type="submit" value="Criar Conta">
					</p>
				</form>
			</div> <!-- cd-signin-modal__block -->

			<div class="cd-signin-modal__block js-signin-modal-block" data-type="reset"> <!-- reset password form -->
				<p class="cd-signin-modal__message">Esqueceu sua senha? Por favor, coloque o seu endereço de e-mail. Você receberá um link para criar uma nova senha.</p>

				<form class="cd-signin-modal__form">
					<p class="cd-signin-modal__fieldset">
						<label class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace" for="reset-email">E-mail</label>
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="reset-email" type="email" placeholder="E-mail">
						<span class="cd-signin-modal__error">Mensagem de erro aqui!</span>
					</p>

					<p class="cd-signin-modal__fieldset">
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding" type="submit" value="Resetar Senha">
					</p>
				</form>

				<p class="cd-signin-modal__bottom-message js-signin-modal-trigger"><a href="#0" data-signin="login">Voltar e entrar</a></p>
			</div> <!-- cd-signin-modal__block -->
			<a href="#0" class="cd-signin-modal__close js-close">Close</a>
		</div> <!-- cd-signin-modal__container -->
	</div> <!-- cd-signin-modal -->


                   
                    
                </ul>

		

		


              </nav>
               
            </div>
             
            <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

          </div>
        </div>

      </header>

      <div class="ftco-blocks-cover-1">
        <div class="ftco-cover-1 overlay" style="background-image: url('http://www.libralogistica.com.br/wp-content/uploads/armazem.jpg')">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <h1>Digite seu código</h1>
                <p class="mb-5">Para rastrear seu frete.</p>
                <form action="#">
                  <div class="form-group d-flex">
                    <input type="text" class="form-control" placeholder="Digite o código de rastreamento">
                    <a href="rastreamento.html" input type="submit" class="btn btn-primary text-white px-4" value="Rastrear"><p>Rastrear</p></a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
   

      <div class="site-section bg-light" id="services-section">
        <div class="container">
          <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
              <div class="block-heading-1"  data-aos="fade-up" data-aos-delay="">
                <h2>Nossos Serviços</h2>
                <p>Cargas Expressas com agilidade na entrega, em todo o estado de São Paulo para todo o Brasil.</p>
              </div>
            </div>
          </div>
          <div class="ftco-service-image-1 pb-5">
          <div class="container">
            <div class="owl-carousel owl-all">
              <div class="service text-center">
                <a href="freterapido.html"><img src="~/images/Motoboy.png" alt="Image" class="img-fluid"></a>
                <div class="px-md-3">
                  <h3><a href="freterapido.html">Frete Rápido</a></h3>
                  <p>Moto cargas rápidas de pequenos porte, na mesma cidade.</p>
                </div>
              </div>
              <div class="service text-center">
                <a href="freteestadual.html"><img src="~/images/caminhao.png" alt="Image" class="img-fluid"></a>
                <div class="px-md-3">
                  <h3><a href="freteestadual.html">Frete Estadual</a></h3>
                  <p>Cargas de pequenos á grandes porte, para todo o estado de São Paulo.</p>
                </div>
              </div>
              <div class="service text-center">
                <a href="fretenacional.html"><img src="~/images/aereo.png" alt="Image" class="img-fluid"></a>
                <div class="px-md-3">
                  <h3><a href="fretenacional.html">Frete Nacional</a></h3>
                  <p>Cargas de pequenos e medios porte, para todo o Brasil.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


      <div class="site-section" id="about-section">

        <div class="container">
          <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
              <div class="block-heading-1" data-aos="fade-up" data-aos-delay="">
                <h2>Sobre Nós</h2>
                <p>A Rapidex, é uma empresa brasileira que tem anos de experiência no mercado de cargas e fretes, prezando sempre o cliente desde 1995.</p>
              </div>
            </div>
          </div>
        </div>

      </div>



      <div class="site-section bg-light" id="about-section">
        <div class="container">
          <div class="row justify-content-center mb-4 block-img-video-1-wrap">
            <div class="col-md-12 mb-5">
              <figure class="block-img-video-1" data-aos="fade">
                 <img src="images/sobre%20nos.png" alt="Image" class="img-fluid">
              
              </figure>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-6 col-md-6 mb-4 col-lg-0 col-lg-3" data-aos="fade-up" data-aos-delay="">
                  <div class="block-counter-1">
                    <span class="number"><span data-number="25">0</span>+</span>
                    <span class="caption">Anos de Experiência</span>
                  </div>
                </div>
                <div class="col-6 col-md-6 mb-4 col-lg-0 col-lg-3" data-aos="fade-up" data-aos-delay="100">
                  <div class="block-counter-1">
                    <span class="number"><span data-number="200">0</span>+</span>
                    <span class="caption">Companhias</span>
                  </div>
                </div>
                <div class="col-6 col-md-6 mb-4 col-lg-0 col-lg-3" data-aos="fade-up" data-aos-delay="200">
                  <div class="block-counter-1">
                    <span class="number"><span data-number="100">0</span>+</span>
                    <span class="caption">Filiais</span>
                  </div>
                </div>
                <div class="col-6 col-md-6 mb-4 col-lg-0 col-lg-3" data-aos="fade-up" data-aos-delay="300">
                  <div class="block-counter-1">
                    <span class="number"><span data-number="2500">0</span>+</span>
                    <span class="caption">Funcionários</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="site-section" id="team-section">
        <div class="container">
          <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
              <div class="block-heading-1" data-aos="fade-up" data-aos-delay="">
                <h2>Nossa Equipe</h2>
                <p>Conheça o nosso time de presidente e diretores.</p>
              </div>
            </div>
          </div>

          <div class="owl-carousel owl-all">
            <div class="block-team-member-1 text-center rounded h-100">
              <figure>
                <img src="~/images/" alt="Image" class="img-fluid rounded-circle"><p>aqui vai uma foto executiva do thalyson</p>
              </figure>
              <h3 class="font-size-20 text-black">Thalyson Dias</h3>
              <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Ceo e Fundador</span>
              <p class="mb-4"> Texto á Colocar.</p>
              <div class="block-social-1">
                <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-linkedin"></span></a>
                <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-facebook-f"></span></a>
                <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-instagram"></span></a>
              </div>
            </div>

            <div class="block-team-member-1 text-center rounded h-100">
              <figure>
                <img src="~/images/" alt="Image" class="img-fluid rounded-circle"><p>aqui vai uma foto executiva do renan</p>
              </figure>
              <h3 class="font-size-20 text-black">Renan cardoso</h3>
              <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Diretor de Logistica</span>
              <p class="mb-4">Texto á Colocar.</p>
              <div class="block-social-1">
                <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-linkedin"></span></a>
                <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-facebook-f"></span></a>
                <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-instagram"></span></a>
              </div>
            </div>

            <div class="block-team-member-1 text-center rounded h-100">
              <figure>
                <img src="images/" alt="Image" class="img-fluid rounded-circle"><p>aqui vai uma foto executiva do leonardo</p>
              </figure>
              <h3 class="font-size-20 text-black">Leonardo Ferreira</h3>
              <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Diretor de TI</span>
              <p class="mb-4">Texto á Colocar.</p>
              <div class="block-social-1">
                <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-linkedin"></span></a>
                <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-facebook-f"></span></a>
                <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-instagram"></span></a>
              </div>
            </div>

          </div>



        </div>
      </div>




      <div class="site-section bg-light" id="pricing-section">
        <div class="container">
          <div class="row mb-5 justify-content-center text-center">
            <div class="col-md-7">
              <div class="block-heading-1" data-aos="fade-up" data-aos-delay="">
                <h2>Preços</h2>
                <p>Confira os valores minimos e detalhes de cada frete. </p>
              </div>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="100">
              <div class="pricing">
                <h3 class="text-center text-black">FRETE RÁPIDO</h3>
                <div class="price text-center mb-4 ">
                  <span><span>R$25</span> / valor minimo</span>
                </div>
                <ul class="list-unstyled ul-check success mb-5">

                  <li>Entrega em até 1 hora</li>
                  <li>Somente Grande São Paulo</li>
                  <li>Frete via moto</li>
                  <li>Documentos e entregas</li>
                  <li>Apenas cargas de pequno porte</li>
                </ul>
                <p class="text-center">
                   <a href="freterapido.html" class="btn btn-primary btn-md text-white">Calcular Frete</a>
                </p>
              </div>
            </div>

            <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="100">
              <div class="pricing">
                <h3 class="text-center text-black">FRETE ESTADUAL</h3>
                <div class="price text-center mb-4 ">
                  <span><span>R$40</span> / valor minimo</span>
                </div>
                <ul class="list-unstyled ul-check success mb-5">

                  <li>Entrega em até 5 dias uteis</li>
                  <li>Em todas o estado de São Paulo</li>
                  <li>Frete via caminhão</li>
                  <li>Produtos de e-commerce e entregas</li>
                  <li>Cargas de pequeno á grande porte</li>
                </ul>
                <p class="text-center">
                  <a href="freteestadual.html" class="btn btn-primary btn-md text-white">Calcular Frete</a>
                </p>
              </div>
            </div>

            <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="100">
              <div class="pricing">
                <h3 class="text-center text-black">FRETE NACIONAL</h3>
                <div class="price text-center mb-4 ">
                  <span><span>R$60</span> / valor minimo</span>
                </div>
                <ul class="list-unstyled ul-check success mb-5">

                  <li>Entrega em até 15 dias uteis</li>
                  <li>Para todo o Brasil</li>
                  <li>Somente partindo de São Paulo</li>
                  <li>Frete via avião</li>
                  <li>Produtos de e-commerce e entregas</li>
                  <li>Cargas de pequeno á medio porte</li>
                </ul>
                <p class="text-center">
                  <a href="fretenacional.html" class="btn btn-primary btn-md text-white">Calcular Frete</a>
                </p>
              </div>
            </div>
          </div>


        </div>
      </div>


      

      <div class="block__73694 site-section border-top" id="why-us-section">
        <div class="container">
          <div class="row d-flex no-gutters align-items-stretch">

            <div class="col-12 col-lg-6 block__73422 order-lg-2" style="background-image: url('images/Compromisso.jpg');" data-aos="fade-left" data-aos-delay="">
            </div>



            <div class="col-lg-5 mr-auto p-lg-5 mt-4 mt-lg-0 order-lg-1" data-aos="fade-right" data-aos-delay="">
              <h1 class="text-primary">Nosso Compromisso</h1>
              <h4 class="mb-4 text-black">Trabalhamos com um serviço rápido e eficiente!</h4>
              <p>Qualidade e rapidez acima de tudo, trabalhamos com um serviço seguro e agil e estamos inovando sempre para proporcionar maior comodidade para nossos parceiros e clientes.</p>

              <ul class="ul-check primary list-unstyled mt-5">
                <li>Serviço Seguro</li>
                <li>Carga Expressa</li>
                <li>Acompanhe em tempo real</li> 
                <li>Armazem Seguro</li>
                <li>Agilidade</li>
                <li>Confiança</li>
                <li>Entrega no Prazo</li>
                <li>Pagamento Online</li>
              </ul>

            </div>

          </div>
        </div>
      </div>


      
    <div class="site-section bg-light" id="contact-section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-5" data-aos="fade-up" data-aos-delay="">
            <div class="block-heading-1">
              <span>Entrar em Contato</span>
              <h2>Contato</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="100">
            <form action="#" method="post">
              <div class="form-group row">
                <div class="col-md-6 mb-4 mb-lg-0">
                  <input type="text" class="form-control" placeholder="Nome">
                </div>
                <div class="col-md-6">
                  <input type="tel" class="form-control" placeholder="Telefone">
              </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="Email">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <textarea name="" id="" class="form-control" placeholder="Deixe sua Mensagem." cols="30" rows="10"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6 mr-auto">
                  <input type="submit" class="btn btn-block btn-primary text-white py-3 px-5" value="Enviar Mensagem">
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
            <div class="bg-white p-3 p-md-5">
              <h3 class="text-black mb-4">Nosso Contato</h3>
              <ul class="list-unstyled footer-link">
                <li class="d-block mb-3">
                  <span class="d-block text-black">Endereço Central:</span>
                    <center><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14618.595035855116!2d-46.7116688!3d-23.6527467!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4578b756c7a1a2e7!2sUNINOVE!5e0!3m2!1spt-BR!2sbr!4v1589661730076!5m2!1spt-BR!2sbr" width="260" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></center>
                  
                <li class="d-block mb-3"><span class="d-block text-black">Telefone:</span><span>011 1234-4321</span></li>
                <li class="d-block mb-3"><span class="d-block text-black">Email:</span><span>sac@rapidex.com.br</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
                <div class="col-md-4 ml-auto">
              <div class="col-md-7">
                <h2 class="footer-heading mb-4">Sobre a Rapidex</h2>
                
                  <ul class="list-unstyled">
                  <li><a href="#">A definir</a></li>
                  <li><a href="#">A definir</a></li>
                  <li><a href="#">A definir</a></li>
                  <li><a href="#">A definir</a></li>
                  
                </ul>
              </div>
              </div>
              <div class="col-md-4 ml-auto">
                <h2 class="footer-heading mb-4">Fale Consoco</h2>
                <ul class="list-unstyled">
                  <li><a href="#">A definir</a></li>
                  <li><a href="#">A definir</a></li>
                  <li><a href="#">A definir</a></li>
                  <li><a href="#">A definir</a></li>
                  
                </ul>
              </div>

            </div>
          </div>
            
          <div class="col-md-4 ml-auto">

            

            <h2 class="footer-heading mb-4">Siga Rapidex</h2>
            <a href="#" class="pl-3 pr-3"><span class="icon-facebook-f"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            @RenderBody()
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <p class="copyright">
            
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos os direitos reservado á <a href="index.html" target="_blank" >Rapidex</a>
            
            </p>
            </div>
          </div>

        </div>
      </div>
    </footer>
<script src="~/login-signup-modal-master/js/placeholders.min.js"></script> <!-- polyfill for the HTML5 placeholder attribute -->
<script src="~/login-signup-modal-master/js/main-modal.js"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/jquery.fancybox.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/aos.js"></script>

    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
    </div>

   
</body>

</html>
