<!doctype html>
<html lang="pt-br">

  <head>
    
    <title>Rapidex | Cargas Expressas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="sortcut icon" href="images/favicon.ico" type="image/x-icon" />

    
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,700|Oswald:400,700" rel="stylesheet">

    <link rel="stylesheet" href="~/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/css/aos.css">

    
    <link rel="stylesheet" href="~/css/style.css">

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">


            
                 
              
             <div class="site-logo">
              <a href="index.html" title="Rapidex: Fretes Rapidos, Fretes Locais e Fretes Aereos.">
                <img src="~/images/logo%20th%20(2).png" alt="Rapidex: Fretes Rapidos, Locais e Aereos.">
              </a>
                 
               </div>
                  
         
              
            
              
              
              
              <div class="col-12">
              <nav class="site-navigation text-right ml-auto " role="navigation">
                  

                <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                  
                  <li><a href="freteestadual.html">Frete Estadual</a></li>

                    <li><a href="fretenacional.html">Frete Nacional</a> </li>
                   
                     <nav class="cd-main-nav js-main-nav">
			<ul class="cd-main-nav__list js-signin-modal-trigger">
				<!-- inser more links here -->
				
				<li><a class="cd-main-nav__item cd-main-nav__item--signup" href="#0" data-signin="signup">Entrar/Cadastra-se</a></li>
			</ul>
		</nav>



	<div class="cd-signin-modal js-signin-modal"> <!-- this is the entire modal form, including the background -->
		<div class="cd-signin-modal__container"> <!-- this is the container wrapper -->
			<ul class="cd-signin-modal__switcher js-signin-modal-switcher js-signin-modal-trigger">
				<li><a href="#0" data-signin="login" data-type="login">Entrar</a></li>
				<li><a href="#0" data-signin="signup" data-type="signup">Cadastra-se</a></li>
			</ul>

			<div class="cd-signin-modal__block js-signin-modal-block" data-type="login"> <!-- log in form -->
				<form class="cd-signin-modal__form">
                    <center><img src="~/images/logo%20th%20(2).png"></center>
					<p class="cd-signin-modal__fieldset">
						<label class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace" for="signin-email">E-mail</label>
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signin-email" type="email" placeholder="E-mail">
						<span class="cd-signin-modal__error">Mensagem de erro aqui!</span>
					</p>

					<p class="cd-signin-modal__fieldset">
						<label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace" for="signin-password">Senha</label>
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signin-password" type="text"  placeholder="Senha">
						<a href="#0" class="cd-signin-modal__hide-password js-hide-password">Ocultar</a>
						<span class="cd-signin-modal__error">Mensagem de erro aqui!</span>
					</p>

					<p class="cd-signin-modal__fieldset">
						<input type="checkbox" id="remember-me" checked class="cd-signin-modal__input ">
						<label for="remember-me">Lembrar-me</label>
					</p>

					<p class="cd-signin-modal__fieldset">
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width" type="submit" value="Entrar">
					</p>
				</form>
				
				<p class="cd-signin-modal__bottom-message js-signin-modal-trigger"><a href="#0" data-signin="reset">Esqueceu sua senha?</a></p>
			</div> <!-- cd-signin-modal__block -->

			<div class="cd-signin-modal__block js-signin-modal-block" data-type="signup"> <!-- sign up form -->
				<form class="cd-signin-modal__form">
                    <center><img src="~/images/logo%20th%20(2).png"></center>
					<p class="cd-signin-modal__fieldset">
						<label class="cd-signin-modal__label cd-signin-modal__label--username cd-signin-modal__label--image-replace" for="signup-username">Usuario</label>
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-username" type="text" placeholder="Usuario">
						<span class="cd-signin-modal__error">Mensagem de erro aqui!</span>
					</p>

					<p class="cd-signin-modal__fieldset">
						<label class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace" for="signup-email">E-mail</label>
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-email" type="email" placeholder="E-mail">
						<span class="cd-signin-modal__error">Mensagem de erro aqui!</span>
					</p>

					<p class="cd-signin-modal__fieldset">
						<label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace" for="signup-password">Senha</label>
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-password" type="text"  placeholder="Senha">
						<a href="#0" class="cd-signin-modal__hide-password js-hide-password">Ocultar</a>
						<span class="cd-signin-modal__error">Mensagem de erro aqui!</span>
					</p>

					<p class="cd-signin-modal__fieldset">
						<input type="checkbox" id="accept-terms" class="cd-signin-modal__input ">
						<label for="accept-terms">Eu aceito os <a href="#0">Termos</a></label>
					</p>

					<p class="cd-signin-modal__fieldset">
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding" type="submit" value="Criar Conta">
					</p>
				</form>
			</div> <!-- cd-signin-modal__block -->

			<div class="cd-signin-modal__block js-signin-modal-block" data-type="reset"> <!-- reset password form -->
				<p class="cd-signin-modal__message">Esqueceu sua senha? Por favor, coloque o seu endereço de e-mail. Você receberá um link para criar uma nova senha.</p>

				<form class="cd-signin-modal__form">
					<p class="cd-signin-modal__fieldset">
						<label class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace" for="reset-email">E-mail</label>
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="reset-email" type="email" placeholder="E-mail">
						<span class="cd-signin-modal__error">Mensagem de erro aqui!</span>
					</p>

					<p class="cd-signin-modal__fieldset">
						<input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding" type="submit" value="Resetar Senha">
					</p>
				</form>

				<p class="cd-signin-modal__bottom-message js-signin-modal-trigger"><a href="#0" data-signin="login">Voltar e entrar</a></p>
			</div> <!-- cd-signin-modal__block -->
			<a href="#0" class="cd-signin-modal__close js-close">Close</a>
		</div> <!-- cd-signin-modal__container -->
	</div> <!-- cd-signin-modal -->

                </ul>
                  
              </nav>
           
            </div>

            <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

          </div>
        </div>

      </header>

      <div class="ftco-blocks-cover-1">
            <div class="block__73694 site-section border-top" id="why-us-section">
        <div class="container">
          <div class="row d-flex no-gutters align-items-stretch">
          
           <div class="container">
    <h1>Cálculo de frete</h1>
    <h4>Frete Nacional</h4>

    <div class="row">
        <?= $html; ?>
    </div>

    <form action="./?frete" method="post">
        <div class="row">
            <div class="col-sm-6 form-group">
                <label>CEP Origem</label>
                <input name="cep-origem" class="form-control" required>
            </div>
            <div class="col-sm-6 form-group">
                <label>CEP Destino</label>
                <input name="cep-destino" class="form-control" required>
            </div>
        </div>
        <div id="campos" data-campos="1">
            <div class="row">
                <div class="container">
                    <label>Produto 1</label>
                </div>

                <div class="col-sm-1 form-group">
                    <label>Quantidade</label>
                    <input name="produto[1][qtd]" class="form-control" type="number" required />
                </div>
                <div class="col-sm-2 form-group">
                    <label>Peso (kg)</label>
                    <input name="produto[1][peso]" class="form-control" required />
                </div>
                <div class="col-sm-3 form-group">
                    <label>Altura (cm)</label>
                    <input name="produto[1][altura]" class="form-control" type="number" required />
                </div>
                <div class="col-sm-3 form-group">
                    <label>Largura (cm)</label>
                    <input name="produto[1][largura]" class="form-control" type="number" required />
                </div>
                <div class="col-sm-3 form-group">
                    <label>Comprimento (cm)</label>
                    <input name="produto[1][comprimento]" class="form-control" type="number" required />
                </div>
            </div>
        </div>

        

        <button
            type="submit"
            class="pull-left btn btn-success">
            CALCULAR FRETE
        </button>
        <button
            type="button"
            onclick="novoProduto();"
            class="pull-right btn btn-primary">
            ADICIONAR PRODUTO
        </button>
    </form>
</div>

<script type="text/javascript">

var div = document.getElementById("campos");

function novoProduto () {
    var html        = div.innerHTML;
    var qtdCampos   = parseInt(div.getAttribute("data-campos")) + 1;

    div.setAttribute("data-campos", qtdCampos);

    div.innerHTML  += "<div class='row'>"
        + "<div class='container'>"
            + "<label>Produto " + qtdCampos + "</label>"
        + "</div>"
        + "<div class='col-sm-1 form-group'>"
            + "<label>Quantidade</label>"
            + "<input name='produto[" + qtdCampos + "][qtd]' class='form-control' type='number' required />"
        + "</div>"
        + "<div class='col-sm-2 form-group'>"
            + "<label>Peso (kg)</label>"
            + "<input name='produto[" + qtdCampos + "][peso]' class='form-control' required />"
        + "</div>"
        + "<div class='col-sm-3 form-group'>"
            + "<label>Altura (cm)</label>"
            + "<input name='produto[" + qtdCampos + "][altura]' class='form-control' type='number' required />"
        + "</div>"
        + "<div class='col-sm-3 form-group'>"
            + "<label>Largura (cm)</label>"
            + "<input name='produto[" + qtdCampos + "][largura]' class='form-control' type='number' required />"
        + "</div>"
        + "<div class='col-sm-3 form-group'>"
            + "<label>Comprimento (cm)</label>"
            + "<input name='produto[" + qtdCampos + "][comprimento]' class='form-control' type='number' required />"
        + "</div>"
    + "</div>";

}

</script>

          </div>
        </div>
      </div>


    
     




    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
                <div class="col-md-4 ml-auto">
              <div class="col-md-7">
                <h2 class="footer-heading mb-4">Sobre a Rapidex</h2>
                
                  <ul class="list-unstyled">
                  <li><a href="#">A definir</a></li>
                  <li><a href="#">A definir</a></li>
                  <li><a href="#">A definir</a></li>
                  <li><a href="#">A definir</a></li>
                  
                </ul>
              </div>
              </div>
              <div class="col-md-4 ml-auto">
                <h2 class="footer-heading mb-4">Fale Consoco</h2>
                <ul class="list-unstyled">
                  <li><a href="#">A definir</a></li>
                  <li><a href="#">A definir</a></li>
                  <li><a href="#">A definir</a></li>
                  <li><a href="#">A definir</a></li>
                  
                </ul>
              </div>

            </div>
          </div>
          <div class="col-md-4 ml-auto">

            

            <h2 class="footer-heading mb-4">Siga Rapidex</h2>
            <a href="#" class="pl-3 pr-3"><span class="icon-facebook-f"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <p class="copyright">
            
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos os direitos reservado á <a href="index.html" target="_blank" >Rapidex</a>
            
            </p>
            </div>
          </div>

        </div>

    </div>
@RenderBody()
    </footer>
 <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="~/login-signup-modal-master/js/placeholders.min.js"></script> <!-- polyfill for the HTML5 placeholder attribute -->
<script src="~/login-signup-modal-master/js/main-modal.js"></script>
          <!-- Vendor Styles including: Font Icons, Plugins, etc.-->

      <script src="~/js/vendor.min.js"></script>
    <script src="~/js/theme.min.js"></script>

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/jquery.fancybox.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/aos.js"></script>

    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
   
 </body>

</html>
